################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/DropStorage/v17/.suo
/.vs/DropStorage/.dtbcache.v2
/.vs/DropStorage/.futdcache.v1

/DropStorage/bin/Debug/net6.0
